summary::-webkit-details-marker {
    display: none;
}

.foldeable {
    margin: 20px 0;
}

summary {
    cursor: default;
    background-color: white;
    outline: 1px solid rgb(35, 140, 31);    
    padding: 10px;
}


.dropdown-wrapper {
    background-color: rgb(113, 166, 111);
    color: rgb(242, 242, 242);
}

.dropdown-wrapper::before {
    position: absolute;
    content: "";
    background-color: inherit;
    height: 12px;
    width: 12px;
    top: -5px;
    left: 8px;
    transform: rotate(45deg);
    z-index: -1;
}

details[open] .dropdown-wrapper {
    animation: fade-in 0.5s forwards;
}

details.summary-closing[open] .dropdown-wrapper {
	animation: fade-out 0.5s forwards;
}
@keyframes fade-in {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
