@import url('./switch.css');
@import url('./foldeable.css');
body {
    font-family: JetBrainsMono, Arial, Helvetica, sans-serif;
    background-color:rgb(242, 242, 242);
    margin: 0;

    display: flex;
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
	justify-content: space-between;
}
/* rgb(7, 140, 3) green
rgb(35, 140, 31) lighter green
rgb(113, 166, 111)
rgb(242, 242, 242)LIGHtWHITE
rgb(13, 13, 13) black*/
#top-bar {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    color: white;
    margin-bottom: 1rem;
    border-bottom: .3rem solid rgb(113, 166, 111);
    flex-direction: column;
}

#top-bar > .container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
}
#top-bar > .container > .logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    flex-grow: 2;
}
#top-bar > .container > .logo > img {
    max-height: 3rem;
    max-width: 3rem;
}
/* #top-bar > .container > .mobile-navigation {
    display: none;
}
#top-bar > .nav-header {
    display: none;
} */
#top-bar  .-mobile {
    display: none;
}
#top-bar > .container > .logo > .name-text {
    color: black;
    margin-left: .5rem;
    font-size: 1.3rem;
    border-left: 3px solid rgb(35, 140, 31);
    padding: .2rem 0 .2rem .3rem;
}

#top-bar > .container > .nav-header {
    display: flex;
    margin-left: auto;
}

#top-bar > .container > .nav-header > .navigation {
    display: flex;
    list-style-type: none;
}

#top-bar > .container > .nav-header > .navigation > .menu-link {
    cursor: pointer;
    display: flex;
    flex: 1;
    align-items: center;
    margin-right: 35px;
}

#top-bar > .nav-header.-mobile > a {
    text-decoration: none;
    display: block;
    margin: .5rem 0 .5rem .5rem;
    padding: .5rem;
}
#top-bar > .nav-header.-mobile > a:hover {
    background-color: rgb(113, 166, 111);
    margin: .5rem;
}

body > section#cover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2em;
}

.main-text.-title {
    font-weight: 600;
    font-size: 2rem;
}
.main-text > .-strong {
    color: rgb(35, 140, 31);
    font-weight: 600;
}
.main-text.-subtitle {
    font-weight: 400;
    font-size: 1.5rem;
}
.main-text.-small {
    font-size: .8rem;
}
body > section#cover > #cover-image {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-right: 1rem;
}
body > section#cover > .cover-paragragh > .main-text {
    margin: 0 0 .2rem 0;
}
body > section#cover > .cover-paragragh > .main-text.-title {
    margin: 0 0 .2rem 0;
}
body > section#cover > .cover-paragragh > .main-text.-subtitle {
    margin: 0 0 .2rem 0;
}

.pointer {
    cursor: pointer;
}

.flex-parent {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

a {
    color: black;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("../fonts/JetBrainsMono-1.0.0/JetBrainsMono-Regular.ttf") format("truetype");
}
@media only screen and (max-width: 550px) {
    #top-bar > .container {
        padding: 0 1rem;
    }
    body > section#cover {
        flex-direction: column;
    }
    body > section#cover > .cover-paragragh {
        margin-top: 1rem;
    }   
    #top-bar > .container > .logo > .name-text {
        font-size: 1rem;
    }
    #top-bar > .container > .nav-header {
        display: none;
    }
    #top-bar > .nav-header.-mobile {
        max-height: 0;
        display: block;
        overflow: hidden;
        background-color: lightgray;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
    #top-bar > .container > .mobile-navigation {
        display: block;
    }
    #top-bar > .container > .mobile-navigation > a > img {
        max-width: 2rem;
    }
}
@media only screen and (max-width: 400px) {
    body > section#cover > .cover-paragragh > .cover-text {
        margin: 0 0 .2rem 0;
        font-size: .8rem;
    }
    body > section#cover > .cover-paragragh > .cover-text.-title {
        font-weight: 600;
        font-size: 1.5rem;
        margin: 0 0 .2rem 0;
    }
    body > section#cover > .cover-paragragh > .cover-text.-subtitle {
        font-weight: 400;
        font-size: 1rem;
        margin: 0 0 .2rem 0;
    }
}
footer {
    background-color: rgb(35, 140, 31);
}

footer > .wrapper {
    display: flex;
    padding: 0 2rem;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer > .wrapper {
    display: flex;
    color: #f5f5f5;
	box-sizing: border-box;
	width: 100%;
    text-align: left;
    cursor: pointer;
}
footer > .wrapper > .paragraph > .main-text {
    margin: .2rem 0 .2rem 0;
}
footer > .wrapper > .paragraph {
    margin: 1rem 0;
}
footer > .wrapper > .net-icons {
    margin: .8rem;
}
footer > .wrapper > .net-icons > .net-icon {
    width: 2rem;
    height: 2rem;
    background-color: white;
}
footer > .wrapper > .net-icons > .net-icon > img {
    width: inherit;
}
#expandable {
    display: none;
}
#expandable:checked + .wrapper .foldeable {
    display: none;
}