@import url('./default.css');


body > section#cover {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 2em;
}

body > section#content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 2em;
}

body > section#cover > #cover-image {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    margin-right: 1rem;
}
body > section#cover > .cover-paragragh > .main-text {
    margin: 0 0 .2rem 0;
}
body > section#cover > .cover-paragragh > .main-text.-title {
    margin: 0 0 .2rem 0;
}
body > section#cover > .cover-paragragh > .main-text.-subtitle {
    margin: 0 0 .2rem 0;
}
body > section#content > .text > .main-text.-subtitle {
    margin-bottom: 0;
}
body > section#content > .text > .description {
    margin-top: 0;
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
}

@media only screen and (max-width: 550px) {
    body > section#cover {
        flex-direction: column;
    }
    body > section#cover > .cover-paragragh {
        margin-top: 1rem;
    }   
}
@media only screen and (max-width: 400px) {
    body > section#cover > .cover-paragragh > .cover-text {
        margin: 0 0 .2rem 0;
        font-size: .8rem;
    }
    body > section#cover > .cover-paragragh > .cover-text.-title {
        font-weight: 600;
        font-size: 1.5rem;
        margin: 0 0 .2rem 0;
    }
    body > section#cover > .cover-paragragh > .cover-text.-subtitle {
        font-weight: 400;
        font-size: 1rem;
        margin: 0 0 .2rem 0;
    }
}