@import url('./default.css');

#content {
    margin: 0 2em 2em 2em;
    display: flex;
    flex-flow: column;
}
#content > .title {
    border-bottom: 2px double black;
}
#content > .posts {
    margin-top: 2rem;
}
#content > .posts > .card {
    border: none;
    margin: 0;
    margin-top: .5rem;
    padding: 0rem;
    border-bottom: 1px solid grey;
}
#content > .posts > .card > .header {
    margin: 0;
}
#content > .posts > .card > .header > .title {
    background-color: rgb(7, 140, 3);
    color: white;
    padding: 5px;
}
#content > .posts > .card > .footer {
    padding-top: 5px;
    margin: 0;
    margin-left: .3rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2px;
}
#content > .posts > .card > .footer > .author{
    border-bottom: 2px dashed rgb(7, 140, 3);
    font-style: italic;
    font-weight: lighter;
    font-size: .9rem;
}
#content > .posts > .card > .footer > .date {
    font-style: italic;
    font-size: .9rem;
    font-weight: lighter;
}
#content > .posts > .card:hover {
    background-color: #d3d3d34f;
    cursor: pointer;
    border-radius: 2%;
}
#content > .posts > .card > .data-tech {
   margin: .5rem 0;
   padding: .5rem;
   margin-left: .3rem;
   border-left: 8px solid rgb(113, 166, 111);
   background-color: #d3d3d366;
}
#content > ul > .main-text {
    margin-bottom: .5rem;
}
#content > ol > .main-text {
    margin-bottom: .5rem;
}