extends ../main-layout.pug
block meta-links
	include head.pug
block content
	<section id="content">
		<div class="main-text -subtitle title">
			Latest
		</div>
		<div class="posts">
			<div class="post card">
				<div class="header">
					<span class="title">Create your own serverless api</span>
				</div>
				<div class="data-tech main-text -small">
					How to create your API REST(express, mysql, sequelize) with lambda functions in netlify.
				</div>
				<div class="footer">
					<span class="author"> G. A. Fernandez </span>
					<span class="date">Jul-23-2020</span>
				</div>
			</div>
			<div class="post card">
				<div class="header">
					<span class="title">Creando tu propia API REST serverless</span>
				</div>
				<div class="data-tech main-text -small">
					Como crear tu propia API REST contruida con express, mysql, sequelize usando funciones lambda de netlify.
				</div>
				<div class="footer">
					<span class="author"> G. A. Fernandez </span>
					<span class="date">23-Jul-2020</span>
				</div>
			</div>
		</div>
	</section>