footer
			input#expandable(type="checkbox")
			label.wrapper(for="expandable")
				.paragraph
					p.foldeable.main-text
						b Thanks for visiting the site!
					p.main-text-small Made with ❤️ in Nombre de Dios, Dgo.
					p.foldeable.main-text-small If you want to find me elsewhere on the web, here's where i hang out.
				.foldeable.net-icons
					a.net-icon(target="blank" rel="noopener" href="https://www.instagram.com/gazaelofficial/")
						img(src="/assets/images/icons/instagram.png" alt="instagram picture")
					a.net-icon(target="blank" rel="noopener" href="https://twitter.com/azaelfernandez")
						img(src="/assets/images/icons/twitter.webp" alt="twitter picture")
					a.net-icon(target="blank" rel="noopener" href="https://www.linkedin.com/in/gelacio-azael-f-a3694681")
						img(src="/assets/images/icons/linkedin.png" alt="linkedin picture")
					a.net-icon(target="blank" rel="noopener" href="https://open.spotify.com/user/1224585085?si=1_dzSXyqQ-ikeAGb2biZxg")
						img(src="/assets/images/icons/spotify.png" alt="spotify picture")
					a.net-icon(target="blank" rel="noopener" href="https://medium.com/@gazaelfernandez")
						img(src="/assets/images/icons/medium.png" alt="medium picture")
				.foldeable.net-icons
					a.net-icon(target="blank" rel="noopener" href="https://github.com/kasec")
						img(src="/assets/images/icons/github.svg" alt="github picture")
					a.net-icon(target="blank" rel="noopener" href="https://gitlab.com/galfan")
						img(src="/assets/images/icons/gitlab.webp" alt="gitlab picture")
				p.main-text.-small © 2020-present Gelacio Azael Fernandez Aldava. All Rights Reserved.