doctype html
html(lang="en")
	head
		block meta-links
			title #{title || 'Welcome To My Page'}
		include ./head.pug
			
	body
		include ./top-bar.pug
		block content
		
		block scripts
			include ./scripts.pug
		block footer
			include ./footer.pug
			